.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  padding: 1rem 1.8rem;
  background-color: var(--color-teritary);
}

.icon {
  width: 3rem;
  height: 3rem;
}

.dropdown {
  text-align: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-button);
  outline: none;
}
