.container {
  display: grid;
  margin: 5rem 0;
}

.btn {
  right: 0;
  position: absolute;
  margin: 1rem;
  padding: 0.8rem 2rem;
  background-color: var(--color-button);
  color: var(--color-text);
  border-radius: var(--border-radius);
  border: none;
}

.note {
  margin-top: 3rem;
}
