.content {
  display: grid;
  align-content: center;
  height: 30vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contenttext {
  background-color: rgb(240 240 240 / 70%);
  margin: 2rem;
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

.h2 {
  opacity: 0.43;
  font-weight: 300;
}

.btn {
  padding: 0.8rem 2rem;
  background-color: var(--color-button);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-text);
}
